body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/117/205/original/recipe.jpg?1709319339");
  background-size: cover;
  text-align: center;
}
.container {
  margin: 80px auto;
  max-width: 800px;
}
h1 {
  text-align: center;
  font-size: 40px;
  padding: 5px;
  font-family: cursive;
  margin: 0 auto;
}
main {
  text-align: center;
  margin-bottom: 20px;
}

#recipe-generator-form {
  background-color: #f3d88f;
  display: flexbox;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
}
#recipe-name {
  font-size: 22px;
  margin: 10px;
  padding: 15px;
  width: 60%;
  border-radius: 30px;
  border: 1px solid #f4edba; /* Light gray border */
  background-color: #f4edba;
}

#submit {
  border: 1px solid #f4edba;
  background-color: #007bff;
  font-size: 22px; /* Blue submit button */
  color: white;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 30px;
}

#submit:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
#hint {
  text-align: left;
  font-size: 16px;
  color: #676565;
  margin-left: 90px;
  margin-top: 5px;
  padding: 0;
}
#display {
  font-size: 22px;
  font-family: cursive;
  line-height: 1.5;
}

#recipe {
  font-family: cursive;
  font-size: 22px;
  background: rgb(231, 224, 172, 0.5);
  text-align: left;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 40px;
}

footer {
  font-size: 18px;
  text-align: center;
  margin-top: auto; /* Footer sticks to the bottom */
  padding: 40px;
  color: #696464;
  width: auto;
}

footer a {
  color: rgb(57, 159, 248);
}

footer a:hover {
  text-decoration: underline;
}
.generating {
  text-align: center;
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .container {
    margin: 10px;
    padding: 15px;
  }

  h1 {
    font-size: 32px;
  }

  #recipe-generator-form {
    padding: 10px;
  }
  #recipe-name {
    max-width: 60%;
    margin: 4px;
  }
  #submit {
    max-width: 40%;
  }
  #recipe-name,
  #submit {
    font-size: 16px;
    padding: 12px;
  }

  #hint {
    font-size: 12px;
    margin-left: 35px;
  }

  #display,
  #recipe {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
  }

  footer {
    font-size: 16px;
    padding: 20px;
  }
}
